*{
	margin:0px;
	padding:0px;
	
}

#cuerpo{
		background-image: url(images/wally.jpg);
		background-repeat:no-repeat;
		background-size:100% 100%;
		background-attachment:fixed;		
	}	




/*La caja de toda  las cajas*/
#allboxes{
		margin-top:10px;
		width:98%;
		height:550px;
		border:none;
		padding:10px;
		margin:0px auto;
		overflow:hidden;
        display: block;
}

	
	/*Inicio de fecto fade*/	
	
.Content{
        text-align: center;
		width:100%;
		height:100%;
        -webkit-animation: fade 4s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 4s; /* Firefox < 16 */
        -ms-animation: fadein 4s; /* Internet Explorer */
         -o-animation: fadein 4s; /* Opera < 12.1 */
            animation: fadein 4s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/*Fin de fecto fade*/	
	
	

/*Caja de titulo*/

#header{    
    background-color: rgba(255,255,255,0.3);
	width:100%;
	height:50px;
	padding-top:20px;
	text-align:center;
    border-bottom:1px solid rgba(255,255,255,0.1);
    
}



#titleP{
        
		color:white;
        top:-50px;
		font-size:30px;
		font-family:arial;
		font-style:italic;
}
	

h2{
		display:block;
		padding-top:10px;
		font-family: arial;
		font-size:16px;
		color:white;
}


	
h1{
		text-align:center;
		font-family: arial;
		font-size:20px;
		color: #0080ff;
		color:white;
	}
	
	




/*Propiedadesde la barra de menu*/


ul, ol{
	list-style:none;
}

.nav{
    top: 40px;
    position: absolute;
    right: 0px;
}

.nav li a{
	background-color:none;
	color:white;
	text-decoration:none;
	padding: 10px 15px;
    height: 10px;
	display:block;

}

.nav li a:hover{
	background:rgba(255,255,255,0.2);	
}


.nav li ul{
	display:none;
	position:absolute;
	min-width:  width:140px;
}

.nav>li{
	float:left;
	
}

.nav li:hover > ul{
	display:block;
	
}

.nav li ul li{
    text-align: left;
	display:block;
	position:relative;
}

.nav li ul li ul{
	right:-160px;
	top:0px;
    text-align: left;
}
/*---------------------------------*/

/*Div Top Winkers*/
#TopW{
        vertical-align:top;
		background-color: rgba(255,255,255,0.3);
		width:15%;
		height:98%;
		margin:10px auto;
        margin-right: 10px;
		border:none;
		padding:10px;
		border-radius: 10px;
        float: left;
	}

/*Div de Workspace*/	
#WorkSpace{
        vertical-align:top;
		background-color: rgba(255,255,255,0.3);
		width:81%;
		height:98%;
		margin:10px auto;
		border:none;
		padding:10px;
		border-radius: 10px;
        float: left;

	}

